body{
    display: flex;
    flex-direction: column;
    background-color: rgba(182, 69, 69, 0.562);
}
main{
    display: flex;
    flex-direction: row;
    flex: auto;
    
}
article{
    flex: 2;
    overflow-y: auto;
    
}
aside{
    flex: 1;
    overflow-y: auto;
    background-color: rgba(165, 42, 42, 0.685);
}

thead th{
    border: solid rgb(255, 0, 98);
}
tbody tr{
    border: solid rgb(255, 0, 99);
}
article p {background-color: blanchedalmond;}